
.title{
    text-align: center;
    text-decoration: underline overline;
    text-decoration-color: darkviolet;
    font-size: 60px;
    text-shadow: darkorange;
    background-color: yellow;

}

/* color styling animals */
.description{
    background-color: rgb(147, 238, 147);
}
.row {
    
}


.cat{
    background-color: rgb(243, 115, 41);
}
.lion{
    background-color: rgb(245, 245, 94);
}
.snake{
    background-color: rgb(230, 40, 87);
}

.fish{
    background-color: aqua;
}

.description{
    

}
.row {
    
}